{% extends 'base.html' %}
{% block title %}Welcome, {{ request.user.get_full_name }}{% endblock %}
{% block body %}
    <h1>Welcome, {{ request.user.get_full_name }}</h1>

    <p>Total XP: {{ member.total_points }}</p>
    <p>HardCore XP: {{ member.hardcore_points }}</p>

    <h2>Achievements</h2>
    {% if achievements != None %}
        {% load staticfiles %}
        {% for achievement in achievements %}
            <img src="{% static "ladder/HCHO1.png" %}" alt="{{ achievement.get_name_display }}"/>
	   		{{ achievement }}
	    {% endfor %}
    {% else %}
    	<p>You do not have any achievements. Click <a href="/ladder/achievements">here</a> to find out how to get some.</p>
    {% endif %}

    <h2>My volunteering</h2>
    {% if attendances != None %}
      <p>You have volunteered a total of {{ member.volunteer_hours }} hours.</p>
	    {% for attendance in attendances %}
	   		<li>{{ attendance.event.get_description_display }} {{ attendance.event.datetime }}</li>
	    {% endfor %}
    {% else %}
    	<p>You have not volunteered for or attended any CSC events. Volunteering for CSC events is a great way to make the world a better place, and to give your own life meaning. Click <a href="/ladder/volunteering">here</a> to find out how.</p>
    {% endif %}

    <h2>My donations</h2>
    {% if donations != None %}
	    {% for donation in donations %}
	   		<li>{{ donation.amount }} {{ donation.date }}</li>
	    {% endfor %}
    {% else %}
    	<p>You have not made any donations. Donations allow the CSC to grow, and earn you achievements too! Click <a href="/ladder/donations">here</a> to find out how to donate to the CSC and what we use those donations for.</p>
    {% endif %}

    <h2>My meetings</h2>
    {% if meetings != None %}
	    {% for meeting in meetings %}
	   		<li>{{ meeting.name }} {{ meeting.date }}</li>
	    {% endfor %}
    {% else %}
    	<p>You have not attended any meetings. Meetings are the core of the CSC, a place to share your life with others, and have others share with you. Click <a href="/ladder/meetings">here</a> to find a meeting near you.</p>
    {% endif %}

    <h2>My friends</h2>
    {% if friends != None %}
	    {% for friend in friends %}
	   		<li>{{ friend.name }} {{ friend.date }}</li>
	    {% endfor %}
    {% else %}
    	<p>You have not brought any friends to the CSC. Bringing friends is a great way to help the CSC grow, to enrich your friend's lives, and it earns you XP as well! Click <a href="/ladder/friends">here</a> to learn about the benefits of bringing friends to a meeting.</p>
    {% endif %}
{% endblock %}
