{% extends 'base.html' %}
{% block title %}Welcome, {{ request.user.get_full_name }}{% endblock %}
{% block css %}
    <h1>Campaign: {{ campaign.short_description }}</h1>
    <p>This campaign has the following propositions. Please give as many (or as few) propositions a vote as you would like. You never hurt your favorite by voting many times. For more information on the voting system in use here, please see <a href="http://rangevoting.org">Range Voting</a></p>
    <p>If you leave them as "Not voted on", they will count the same as "NO OPINION" when the campaign closes.</p>
    <form action="vote/" method="post">{% csrf_token %}
        <input type="submit" value="Vote" />
        {% for vote in votes %}
            <h3><label for="id_{{ vote.pk }}">{{ vote.proposition.short_description }}</label></h3>
                {% for digit, string in ratings %}
                    <input type="radio" name="id_{{ vote.pk }}" value="{{ string }}" {% if vote.rating == digit %}checked{% endif %}>{{ string }}
                {% endfor %}
                </select>
        {% endfor %}
    </form>
{% endblock %}