{% extends 'base.html' %}
{% block title %}Welcome, {{ request.user.get_full_name }}{% endblock %}
{% block css %}
    <h1>{{ proposition }}</h1>
    <p>Campaign: {{ proposition.campaign.short_name }}</p>
    <p>{{ proposition.long_description }}</p>
    <p><a href="{{ proposition.link }}">{{ proposition.link }}</a></p>
{% endblock %}