{% extends 'base.html' %}
{% block title %}Welcome, {{ request.user.get_full_name }}{% endblock %}
{% block css %}
<p>Thanks for voting.</p>
<a href="/voting/campaigns/">Click here to return to your campaigns.</a>
{% endblock %}